demo/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service">
            <xs:element name="debitAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountNo" type="xs:int"/>
                        <xs:element minOccurs="0" name="amount" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="debitAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="creditAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountNo" type="xs:int"/>
                        <xs:element minOccurs="0" name="amount" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="creditAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createAccount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="createAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkAccountBalance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountNo" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkAccountBalanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountNo" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkAccountBalanceRequest">
        <wsdl:part name="parameters" element="ns:checkAccountBalance"/>
    </wsdl:message>
    <wsdl:message name="checkAccountBalanceResponse">
        <wsdl:part name="parameters" element="ns:checkAccountBalanceResponse"/>
    </wsdl:message>
    <wsdl:message name="checkAccountRequest">
        <wsdl:part name="parameters" element="ns:checkAccount"/>
    </wsdl:message>
    <wsdl:message name="checkAccountResponse">
        <wsdl:part name="parameters" element="ns:checkAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="createAccountRequest">
        <wsdl:part name="parameters" element="ns:createAccount"/>
    </wsdl:message>
    <wsdl:message name="createAccountResponse">
        <wsdl:part name="parameters" element="ns:createAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="debitAccountRequest">
        <wsdl:part name="parameters" element="ns:debitAccount"/>
    </wsdl:message>
    <wsdl:message name="debitAccountResponse">
        <wsdl:part name="parameters" element="ns:debitAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="creditAccountRequest">
        <wsdl:part name="parameters" element="ns:creditAccount"/>
    </wsdl:message>
    <wsdl:message name="creditAccountResponse">
        <wsdl:part name="parameters" element="ns:creditAccountResponse"/>
    </wsdl:message>
    <wsdl:portType name="AccountServicePortType">
        <wsdl:operation name="checkAccountBalance">
            <wsdl:input message="ns:checkAccountBalanceRequest" wsaw:Action="urn:checkAccountBalance"/>
            <wsdl:output message="ns:checkAccountBalanceResponse" wsaw:Action="urn:checkAccountBalanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkAccount">
            <wsdl:input message="ns:checkAccountRequest" wsaw:Action="urn:checkAccount"/>
            <wsdl:output message="ns:checkAccountResponse" wsaw:Action="urn:checkAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createAccount">
            <wsdl:input message="ns:createAccountRequest" wsaw:Action="urn:createAccount"/>
            <wsdl:output message="ns:createAccountResponse" wsaw:Action="urn:createAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="debitAccount">
            <wsdl:input message="ns:debitAccountRequest" wsaw:Action="urn:debitAccount"/>
            <wsdl:output message="ns:debitAccountResponse" wsaw:Action="urn:debitAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="creditAccount">
            <wsdl:input message="ns:creditAccountRequest" wsaw:Action="urn:creditAccount"/>
            <wsdl:output message="ns:creditAccountResponse" wsaw:Action="urn:creditAccountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountServiceSoap11Binding" type="ns:AccountServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="checkAccountBalance">
            <soap:operation soapAction="urn:checkAccountBalance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAccount">
            <soap:operation soapAction="urn:checkAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createAccount">
            <soap:operation soapAction="urn:createAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="debitAccount">
            <soap:operation soapAction="urn:debitAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="creditAccount">
            <soap:operation soapAction="urn:creditAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountServiceSoap12Binding" type="ns:AccountServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="checkAccountBalance">
            <soap12:operation soapAction="urn:checkAccountBalance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAccount">
            <soap12:operation soapAction="urn:checkAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createAccount">
            <soap12:operation soapAction="urn:createAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="debitAccount">
            <soap12:operation soapAction="urn:debitAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="creditAccount">
            <soap12:operation soapAction="urn:creditAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountServiceHttpBinding" type="ns:AccountServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="checkAccountBalance">
            <http:operation location="checkAccountBalance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAccount">
            <http:operation location="checkAccount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createAccount">
            <http:operation location="createAccount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="debitAccount">
            <http:operation location="debitAccount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="creditAccount">
            <http:operation location="creditAccount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountService">
        <wsdl:port name="AccountServiceHttpSoap11Endpoint" binding="ns:AccountServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/AccountService"/>
        </wsdl:port>
        <wsdl:port name="AccountServiceHttpSoap12Endpoint" binding="ns:AccountServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/AccountService"/>
        </wsdl:port>
        <wsdl:port name="AccountServiceHttpEndpoint" binding="ns:AccountServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/AccountService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
